* {
    box-sizing: border-box; /*---mention box-sizing in selector-----*/
}

.container {
    display: flex;
    margin: auto;
    background-color: aqua;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    border: 1px solid black;
    margin: 50px;
    position: relative;
    align-items: center;
}

.text {
    position: fixed;
    left: 50%;
    top: 0;
}

/*---responsive media scren for 560px and 680px width screen----*/
@media (max-width:580px){
    .container{
        max-width: 100%;
    }
}
@media (max-width:680px){
    .container{
        max-width: 100%;
    }
}